discord.py=1.2.5
bs4.py=0.0.1
youtube-dl.py=2020.1.15
urllib3.py=1.25.8
beautifulsoup4.py=4.8.2
fudge.py=1.1.1
soupsieve.py=1.9.5
aiohttp.py=3.5.4
async-timeout.py=3.0.1
certifi.py=2019.11.28
cffi.py=1.13.2
chardet.py=3.0.4
idna.py=2.8
multidict.py=4.7.4
pycparser.py=2.19
PyNaCl.py=1.3.0
requests.py=2.22.0
setuptools.py=40.8.0
simplejson.py=3.17.0
six.py=1.14.0
yarl.py=1.4.2
websockets.py=6.0
